@import "../../sass/colors";
@import "../../sass/mixins";

.create-new-quiz-slider {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.98);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2rem 2.5rem;
    width: 40px;
    transition: 0.2s ease-in-out;

    &:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
  }

  form {
    fieldset {
      @include fieldsetStyle1;

      legend {
        padding: 1rem;
        color: $white;
      }

      input {
        @include inputStyle1;
      }

      button {
        @include buttonStyle1;
        width: 100%;
      }
    }
  }
}
