@import "../../sass/colors";
@import "../../sass/fonts";
@import "../../sass/mixins";

.login {
  display: flex;
  flex-direction: column;

  &__error-msg {
    color: $errorRed;
    text-align: center;
    font-style: italic;
  }

  &__success-msg {
    color: $successGreen;
    text-align: center;
    font-style: italic;
  }

  &__logged-out-container,
  &__logged-in-container {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    gap: 2rem;

    input {
      @include inputStyle1;
    }

    h2 {
      text-align: center;
      font-size: 3rem;

      // https://cssgradient.io/blog/css-gradient-text/
      background: -webkit-linear-gradient($darkOrange, $purpleTransparent8);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      border-bottom: 3px solid $whiteTransparent1;
    }

    button {
      @include buttonStyle1;
    }
  }
}
