@import "./sass/colors";
@import "./sass/fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.App {
  min-height: 100vh;

  &--light {
    background-color: $white;
    color: $black;
  }

  &--dark {
    background-color: $darkGrey;
    color: $white;
  }
}
